[Desktop Entry]
Name=File Manager
Comment=Access and organize files
Keywords=folder;manager;explore;disk;filesystem;nautilus;
Exec=fmz %U
Icon=org.gnome.Nautilus
Terminal=true
Type=Application
DBusActivatable=true
StartupNotify=true
Categories=Utility;Core;FileManager;
MimeType=inode/directory;
