
/* Removes the ugly frame */
decoration {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
}

headerbar {
    background: black;
}

.nemo-window scrolledwindow,
headerbar,
window,
dialog,
messagedialog,
stack,
header,
toolbar,
popover,
iconview,
scrollbar,
treeview {
    background-color: black;
}

.nemo-window scrolledwindow:selected
scrolledwindow:selected,
headerbar:selected,
window:selected,
dialog:selected,
messagedialog:selected,
viewport:selected,
stack:selected,
header:selected,
toolbar:selected,
popover:selected,
iconview:selected,
scrollbar:selected,
treeview:selected {
    background-color: @theme_selected_bg_color;
}

evview.view.content-view {
    background-color: black;
    border: 1px solid #333;
}

evview.view.content-view:selected {
    background-color: @theme_selected_bg_color;
}

calendar.view {
	background-color: black;
}

calendar:selected {
	background-color: white;
    color:            black;
}
