
/* Removes the ugly frame */
decoration {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

headerbar {
    background: black;
}

window, dialog, messagedialog, viewport, stack, header, toolbar, popover {
    background-color: black;
}
